# Dependencies
node_modules/

# Environment variables (IMPORTANT 🔐)
.env
.env.*
backend/.env
frontend/.env

# Build files
dist/
build/

# Logs
logs
*.log

# OS files
.DS_Store
Thumbs.db

# Uploads (optional)
uploads/
backend/uploads/